<nav class="side">
<ul class="side-nav">
  <li class="side-nav__item">
    <a href="#" class="side-nav__link">
      <svg class="side-nav__icon">
        <use xlink:href="../../../../../assets/images/Trillo/starter/img/sprite.svg#icon-home"></use>
      </svg>
      <span>Hotel</span>
    </a>
  </li>

  <li class="side-nav__item">
    <a href="#" class="side-nav__link">
      <svg class="side-nav__icon">
        <use xlink:href="../../../../../assets/images/Trillo/starter/img/sprite.svg#icon-rocket"></use>
      </svg>
      <span>Flight</span>
    </a>
  </li>

  <li class="side-nav__item">
    <a href="#" class="side-nav__link">
      <svg class="side-nav__icon">
        <use xlink:href="../../../../../assets/images/Trillo/starter/img/sprite.svg#icon-key"></use>
      </svg>
      <span>Car Rental</span>
    </a>
  </li>

  <li class="side-nav__item">
    <a href="#" class="side-nav__link">
      <svg class="side-nav__icon">
        <use xlink:href="../../../../../assets/images/Trillo/starter/img/sprite.svg#icon-map"></use>
      </svg>
      <span>Tours</span>
    </a>
  </li>
</ul>

<div class="legal">
  &copy; 2024 by trillo. All rights reserved.
</div>
</nav>
