<div class="home__Dashboard">
  <div class="home__Dashboard__Block home__Dashboard__Natours">
    <a class="home__Dashboard__Block__item" routerLink="/natours">Noutours </a>
  </div>
  <div class="home__Dashboard__Block home__Dashboard__Natours">
    <a class="home__Dashboard__Block__item" routerLink="/trillo">Trillo </a>
  </div>

  <div class="home__Dashboard__Block home__Dashboard__Natours">
    <a class="home__Dashboard__Block__item" routerLink="/grid">Grid Practice </a>
  </div>

  <div class="home__Dashboard__Block home__Dashboard__Natours">Noutours</div>
  <div routerLink="/scss-pratice" class="home__Dashboard__Block home__Dashboard__Natours">SCSS PRACTICE</div>
</div>
