@import "../../../../../assets/sass/abstract/variables";
@import "../../../../../assets/sass/abstract/mixins";

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 4rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    //apply animation
    animation-name: moveInLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease;

    /*animation-iteration-count: 2;
    animation-delay: 3s;*/

    //TODO MEDIA QUERY
    @include respond(phone) {
     letter-spacing: .5rem;
     font-size: 5rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
    //apply animation
    animation: moveInRight 1.5s ease-out;

    @include respond(phone) {
      letter-spacing: .5rem;

     }
  }
}
