@import "../../../../../assets/sass/abstract/mixins";
@import "../../../../../assets/sass/abstract/variables";
.section-features{
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../../../../../assets/images/Natours/starter/img/nat-4.jpg);
  background-size: cover;
  background-position: top;
  margin-top: -10rem;
  //TODO Skew the entire section
  transform: skewY(-7deg);
  //TODO the trick is to do the opposite to the direct child
  & > * {
    transform: skewY(7deg);
  }

  @include respond(tab-port){
    padding: 10rem 0;
    margin-top: -5rem;
  }
}
