<section class="section-book">
  <div class="grid-test-float">
    <div class="row">
      <div class="book">
        <div class="book__form">
          <form class="form" action="#">
            <!-- TODO FORM HEADER -->
            <div class="u-margin-bottom-medium">
              <h2 class="heading-secodary">Start booking now</h2>
            </div>

            <!-- TODO FORM GROUP ITEM NAME-->
            <div class="form__group">
              <input
                id="name"
                type="text"
                class="form__input"
                placeholder="Full name"
                required
              />
              <label for="name" class="form__label">Full Name</label>
            </div>

            <!-- TODO FORM GROUP ITEM EMAIL-->
            <div class="form__group">
              <input
                id="email"
                type="email"
                class="form__input"
                placeholder="Email address"
                required
              />
              <label class="form__label" type="email">Email Address</label>
            </div>

            <!-- TODO FORM GROUP ITEM RADIO-->
            <div class="form__group u-margin-bottom-medium">
              <div class="form__radio-group">
                <input
                  type="radio"
                  class="form__radio-input"
                  id="small"
                  name="size"
                />
                <label for="small" class="form__radio-label">
                  <span class="form__radio-button"></span>
                  Small tour group
                </label>
              </div>
              <div class="form__radio-group">
                <input
                  type="radio"
                  class="form__radio-input"
                  id="large"
                  name="size"
                />
                <!-- TODO THE INPUT WILL BE HIDDEN -->
                <label for="large" class="form__radio-label">
                  <span class="form__radio-button"></span>
                  Large tour group
                </label>
              </div>
            </div>

            <!-- TODO FORM GROUP ITEM SUBMIT BUTTON-->
            <div class="form__group">
              <button type="submit" class="btn btn--green">Next step &rarr;</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
