//COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

//GRID FLOAT
$grid-float-width : 140rem;
$gutter-vertical : 2rem;
$gutter-horizontal : 2rem;
