<div class="popup" id="popup">
  <div class="popup__content" id="popup-content">
    <a href="#" class="popup__close" (click)="closeModal($event)">&times;</a>
    <ng-content></ng-content>
    <!-- <div class="popup__left">
      <img src="../../../assets/images/Natours/starter/img/nat-8.jpg" alt="" class="popup__img">
      <img src="../../../assets/images/Natours/starter/img/nat-9.jpg" alt="" class="popup__img">
    </div>
    <div class="popup__right">
      <a href="#" class="popup__close">&times;</a>
      <h2 class="heading-secodary u-margin-bottom-medium">Start booking now</h2>
      <h3 class="heading-teriary u-margin-bottom-small">Important &ndash; Please read these terms before booking</h3>
      <p class="popup__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, corrupti maxime? Ipsum quisquam minus consequatur magni dolores iure id facere eaque omnis officiis! Dolorem explicabo a harum mollitia veniam tempore?
        psum quisquam minus consequatur magni dolores iure id facere eaque omnis officiis! Dolorem explicabo a harum mollitia veniam tempore?psum quisquam minus consequatur magni dolores iure id facere eaque omnis officiis! Dolorem explicabo a harum mollitia veniam tempore?psum quisquam minus consequatur magni dolores iure id facere eaque omnis officiis! Dolorem explicabo a harum mollitia veniam tempore?
      </p>
      <a href="#" class="btn btn--green">Book Now</a>
    </div> -->
  </div>
</div>
