.header {
  height: 95vh; //95% of the view port height

  //linear gradient on top of an image
  //to specify gradiant we use bg-image and spearate with comma
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../../images/Natours/starter/img/hero.jpg);
  background-size: cover;
  background-position: top;
  //clip path
  //clip-path: polygon(xy, xy , xy , xy);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;

  @include respond(phone){
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem; //setting the height automatically set the width
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    //center the text box no matter the screen size or orientation
    transform: translate(-50%, -50%); //transform the element itself x , y
    text-align: center;
  }
}
