<section class="section-about">
  <div class="u-center-text u-margin-bottom-big">
    <h2 class="heading-secodary">Exciting tours for adventurous people</h2>
  </div>

  <section class="grid-test-float">
    <div class="row">
      <div class="col-1-of-2">
        <h3 class="heading-teriary u-margin-bottom-small">
          you are going to fall in love with nature
        </h3>
        <p class="paragraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
          tenetur laboriosam exercitationem fugit alias. Deleniti pariatur harum
          id nobis excepturi consequatur facere recusandae ut accusamus officiis
          ea eveniet, minima similique? Commodi, voluptatem rem, reprehenderit.
        </p>

        <h3 class="heading-teriary u-margin-bottom-small">
          live adventures like you never had before
        </h3>
        <p class="paragraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
          tenetur laboriosam exercitationem fugit alias. Deleniti pariatur harum
          id nobis excepturi consequatur facere recusandae ut accusamus officiis
          ea eveniet, minima similique? Commodi, voluptatem rem, reprehenderit.
        </p>

        <a href="#" class="btn-text">Learn more &rarr;</a>
      </div>
      <div class="col-1-of-2">
        <div class="composition">
          <img src="../../../../../assets/images/Natours/starter/img/nat-1-large.jpg" alt="p1" class="composition__img composition__img--p1" />
          <img src="../../../../../assets/images/Natours/starter/img/nat-2-large.jpg" alt="p2" class="composition__img composition__img--p2" />
          <img src="../../../../../assets/images/Natours/starter/img/nat-3-large.jpg" alt="p3" class="composition__img composition__img--p3" />
        </div>
      </div>
    </div>
  </section>
</section>
