<section class="section-stories">
  <!-- TODO BG VIDEO -->
  <div class="bg-video">
    <video class="bg-video__content"  autoplay muted loop>
      <source src="../../../../../assets/images/Natours/starter/img/video.mp4">
      <source src="../../../../../assets/images/Natours/starter/img/video.webm">
      your browser is not supported
    </video>
  </div>

  <!-- TODO TEXT -->
  <div class="u-center-text u-margin-bottom-big">
    <h2 class="heading-secodary">we make peopele genunely happy</h2>
  </div>

  <div class="grid-test-float">
    <div class="row">
      <!-- TODO STORY 1 -->
      <div class="story">
        <!-- TODO USE FIGURE TO ADD CAPTION -->
        <figure class="story__shape">
          <img
            class="story__image"
            src="../../../../../assets/images/Natours/starter/img/nat-8.jpg"
            alt="person"
          />
          <figcaption class="story__caption">Mary Smith</figcaption>
        </figure>
        <div class="story__text">
          <h3 class="heading-teritiary u-margin-bottom-small">
            I had the best week ever with my family
          </h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
            error aperiam quis ipsam minima maiores, qui animi quidem ad
            praesentium accusamus architecto voluptas eius, fugit id odio facere
            aliquam. Facere? Saepe atque, explicabo nostrum reiciendis numquam
            eos a possimus doloribus.Saepe atque, explicabo nostrum reiciendis
            numquam eos a possimus doloribus.Saepe atque.
          </p>
        </div>
      </div>

      <!-- TODO STORY 2 -->
      <div class="story">
        <!-- TODO USE FIGURE TO ADD CAPTION -->
        <figure class="story__shape">
          <img
            class="story__image"
            src="../../../../../assets/images/Natours/starter/img/nat-9.jpg"
            alt="person"
          />
          <figcaption class="story__caption">Saeed Fayed</figcaption>
        </figure>
        <div class="story__text">
          <h3 class="heading-teritiary u-margin-bottom-small">
            My life is completely different now!
          </h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
            error aperiam quis ipsam minima maiores, qui animi quidem ad
            praesentium accusamus architecto voluptas eius, fugit id odio facere
            aliquam. Facere? Saepe atque, explicabo nostrum reiciendis numquam
            eos a possimus doloribus.Saepe atque, explicabo nostrum reiciendis
            numquam eos a possimus doloribus.Saepe atque.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!--TODO  BUTTON -->
  <div class="u-center-text u-margin-bottom-big">
    <a href="#" class=" btn-text">Read all stories &rarr;</a>
  </div>
</section>
