.body{
  font-family: "Roboto", sans-serif !important;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7; //1.7 times the predefined line height
  color: #777;
  padding: 2rem; //padding is not inherited
}
