<div class="container">
  <div class="item item--1">1: Orange</div>
  <div class="item item--2">2 : Green</div>
  <div class="item item--3">3 : Violet</div>
  <div class="item item--4">4 : Pink</div>
  <div class="item item--5">5 : Blue</div>
  <div class="item item--6">6 : Brown</div>

</div>
<hr>


<div class="container2">
  <div class="item2 item2--header">Header</div>
  <div class="item2 item2--box1">Samll box1</div>
  <div class="item2 item2--box2">Small box2</div>
  <div class="item2 item2--box3">Samll box 3</div>
  <div class="item2 item2--sidebar">Sidebar</div>
  <div class="item2 item2--main">Main Content</div>
  <div class="item2 item2--footer">Footer</div>
</div>

<hr>

<div class="container3">
  <div class="item3 item3--1">modern</div>
  <div class="item3 item3--2">css</div>
  <div class="item3 item3--3">with</div>
  <div class="item3 item3--4">flexbox</div>
  <div class="item3 item3--5">and</div>
  <div class="item3 item3--6">grid</div>
  <div class="item3 item3--7">are</div>
  <div class="item3 item3--8">great</div>

</div>
