.container {
  background-color: #eee;
  width: 100rem;
  margin: 3rem auto;
  font-size: 1.8rem;

  //TODO USING grid Manually
  display: grid;
  // grid-template-rows:15rem 6rem ; //the number is the height of the block
  // grid-template-columns: 15rem 15rem 15rem; //the number is the width of the block

  //TODO USING REPEAT INSTEAD ... the procss of defining rows numbers and columns are called tracks
  grid-template-rows: repeat(2, 15rem);
  //TODO  using fr fractional unit to take the rest of the space
  // grid-template-columns: repeat(2 , 15rem) 1fr; //TODO 1fr is a fraction of the available space
    grid-template-columns: repeat(3 , 1fr); //TODO to make them equal
  // grid-template-columns: 1fr 2fr 1fr; //TODO to make them custom
  // grid-template-columns: 50% 1fr 2fr; //TODO we can also use %  but it doesnot consider the gap
  //TODO  grid-template-columns: repeat(2, 15rem)  30rem; //if you want to specify certain width for some colmn



  //TODO GAP ROW
  grid-row-gap: 3rem;

  //TODO GAP COLUMN
  grid-column-gap: 3rem;

  //TODO SAME GAP FOR EVERYTHING
  // grid-gap: 3rem;
}

.item{
  padding: 2rem;
  font-family: sans-serif;
  color: #fff;

  &--1 {
    background-color: orangered;
    //TODO PLACMENT OF ITEM
    // grid-row-start: 2;
    // grid-row-end: 3;
    // grid-column-start: 2;
    // grid-column-end: 3;
    grid-row: 2 / 3 ; //between 2 & 3
    grid-column: 2 / 3;
    //TODO spaning item take 2 cells
    // grid-column: 2 / 4 ; //between 2 & 3

    //TODO show but it's on top of 3
    z-index: 10;
  }

  &--2 {
    background-color: yellowgreen;
    //TODO using span word
   // grid-column: 2 / span 2;
    //TODO another spaing to take the rest from the begining using -1
    grid-column: 1/ -1;
   }

  &--3 {
    background-color: blueviolet;
    grid-column: 1 / 3 ;
    grid-row: 2/3;
  }

  &--4 {
    background-color: palevioletred;

  }

  &--5 {
    background-color: royalblue;
    // grid-row: 1 / 2;
    // grid-column: 3 / 4;
    grid-area: 1 / 3 / 3 / 4; //TODO short cut to do it. row & colmn start then row & colmn end -- note it's spaning 2 rows
  }

  &--6 {
    background-color: goldenrod;
    grid-area: 1 / 2 / 2 / 3 ;
  }
}


// .container2{
//   width: 100rem;
//   margin: 3rem auto;
//   background-color: #eee;

//   display: grid;
//   grid-template-rows: 10rem repeat(3 , 15rem);
//   grid-template-columns: repeat(3 ,1fr)  18rem;
//   grid-gap: 3rem;
// }

// .item2{
//   background-color: orangered;
//   color: #fff;
//   font-weight: 700;
//   font-size: 3.35rem;
//   padding: 3rem;

//   &--header{
//     grid-column: 1 / -1;
//   }

//   &--box1{

//   }

//   &--box2{

//   }

//   &--box3{

//   }

//   &--sidebar{
//     grid-row: 2/5;
//     grid-column: 4/5;
//   }

//   &--main{
//     grid-column: 1/4;
//     grid-row: 3/5;
//   }

//   &--footer{
//     grid-column: 1/-1;
//   }
// }


.container2{
  width: 100rem;
  margin: 3rem auto;
  background-color: #eee;

  display: grid;
  grid-template-rows: [header-start] 10rem [header-end box-start] 20rem [box-end main-start] 40rem [main-end footer-start] 10rem [footer-end];
  grid-template-columns: repeat(3 , [col-start] 1fr [col-end])  20rem [grid-end];
  grid-gap: 3rem;
}


.item2{
  background-color: orangered;
  color: #fff;
  font-weight: 700;
  font-size: 3.35rem;
  padding: 3rem;

  &--header{
    grid-column: col-start 1 / grid-end
  }

  &--box1{

  }

  &--box2{

  }

  &--box3{

  }

  &--sidebar{
    grid-row: box-start / main-end;
    grid-column: col-end 3 / grid-end;
  }

  &--main{
    grid-column : col-start 1 / col-end 3;
    grid-row: main-start / main-end;
  }

  &--footer{
    grid-column: col-start 1 / grid-end;
  }
}


.container3{
  width: 100rem;
  margin: 3rem auto;
  background-color: #ddd;
  display: grid;
  grid-template-rows: repeat(2, 15rem);
  grid-template-columns: repeat(2,1fr);
  grid-gap: 3rem; //todo horizontally


  //TODO align items of grid
  align-items: center; //todo default is stretch
  justify-items: center;

  //TODO for the auto generated rows  by default
  grid-auto-rows: 9rem; //TODO set the height for them

  //grid-auto-flow: column; //TODO to generate auto generated cols not rows
  grid-auto-columns: .5fr; //TODO set the widht for auto generated columns

  .item3{
    padding: 2rem;
    color: #fff;
    font-family: sans-serif;
    font-size: 3rem;
    background-color: orangered;
  }

}
