/* You can add global styles to this file, and also import other style files */


html {
  //set the root font size
  font-size: 62.5%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; // dont add padding or border to total height or width
}

@import "./assets/sass/base/base"
